{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DevDoc</title>
  <link rel="bookmark" href="{% static 'favicon.ico' %}">
  <!-- icon -->
  <link rel="shortcut icon" sizes="16x16" href="{% static 'images/icon_16.png' %}" type="image/png">
  <link rel="shortcut icon" sizes="16x16" href="{% static 'images/icon_24.png' %}" type="image/png">
  <link rel="shortcut icon" sizes="16x16" href="{% static 'images/icon_32.png' %}" type="image/png">
  <link rel="shortcut icon" sizes="16x16" href="{% static 'images/icon_48.png' %}" type="image/png">
  <link rel="shortcut icon" sizes="16x16" href="{% static 'images/icon_64.png' %}" type="image/png">
  <!-- viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Bootstrap -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
  <link rel="stylesheet" href="{% static 'css/roboto.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/material-fullpalette.css' %}">
  <link rel="stylesheet" href="{% static 'css/ripples.min.css' %}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/sunburst.min.css">
</head>
