{% load staticfiles %}
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="{% static 'js/ripples.min.js' %}"></script>
<script src="{% static 'js/material.min.js' %}"></script>
<script src="{% static 'js/marked.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ext-language_tools.js"></script>
<script>
$(document).ready(function() {
  // This command is used to initialize some elements and make them work properly
  $.material.init();
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
